{% extends 'base.html' %}

{% block headersection %}
<section class="header-container">
    <div class="content-text">
        <h2>Contact Me</h2>
    </div>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">

    <div class="scroll-container">
    <table style="text-align: center;">
        <tr>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://www.linkedin.com/in/muhammad-abdullah-090215212/" target="_blank"><img
                    alt="Linkedin" width="55" height="55"
                    src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="Twitter"
                    style="border-radius: 0px;"></a>
            <h4>Linkedin</h4>
            </div>
        </td>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://twitter.com/Abdullah_zia_" target="_blank"><img
                    alt="Twitter" width="55" height="55"
                    src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="Linkedin"
                    style="border-radius: 0px;"></a>
            <h4>Twitter</h4>
            </div>
        </td>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://stackoverflow.com/users/12579494/abdullah-zia" target="_blank"><img
                    alt="stack" width="55" height="55"
                    src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg" alt="Stack"
                    style="border-radius: 0px;"></a>
            <h4>Stack Overflow</h4>
            </div>
        </td>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://www.facebook.com/abdullah.zia.7545" target="_blank"><img
                    alt="Facebook" width="55" height="55"
                    src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="FB"
                    style="border-radius: 0px;"></a>
            <h4>Facebook</h4>
            </div>
        </td>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://www.instagram.com/abdullah_zia/" target="_blank"><img
                    alt="Instagram" width="55" height="55"
                    src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="Insta"
                    style="border-radius: 0px;"></a>
            <h4>Instagram</h4>
            </div>
        </td>
        <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
                <a href="https://github.com/abdullah-zia-22" target="_blank"><img
                    src="https://camo.githubusercontent.com/f63b72d9d9f0416c0a3b939b69ab0a13a3fb4e2db4b6cb8a81668a856208107d/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f64653771797a6767382f696d6167652f75706c6f61642f76313638373939323431352f49636f6e732f6769746875625f71386b716c692e706e67" 
                    alt="Github" width="55" height="55"
                    style="border-radius: 0px;"></a>
            <h4>GitHub</h4>
            </div>
        </td>
        </tr>
    </table>
    </div>
</section>
{% endblock %}
{% block footer %}
{% endblock %}