{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="https://avatars.githubusercontent.com/u/82393213?v=4" alt="" />
  <h1>Hey Visitor! I'm Muhammad Abdullah</h1>

  <div class="content-text">
    <h2>Python Backend Developer</h2>
    <p>
      Expertise in Flask, RESTful APIs and DevOps
    </p>
  </div>
  <a href="#footer" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Skills</h2>
    <div class="scroll-container">
      <table style="text-align: center;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
              <h4>Python</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://camo.githubusercontent.com/eacac254da4d50859852c5f9f4c6b38bb417329a9d97568e86141b5826a802be/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f64653771797a6767382f696d6167652f75706c6f61642f76313638373939323431352f49636f6e732f666c61736b5f616e767a61342e706e67"
              alt="Flask" width="50" height="50">
              <h4>Flask</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://camo.githubusercontent.com/537f66454b766b0d56da91225206ebf6d28ecff24d84668d52cf9430e02460fd/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f646a616e676f2e737667"
              alt="Django" width="50" height="50">
              <h4>Django</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/mysqlworkbench.svg"
              alt="MySQL" width="55" height="55">
              <h4>MySQL</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Database/postgresql.svg"
              alt="PostgreSQL" width="55" height="55">
              <h4>PostgreSQL</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Database/elasticsearch.svg"
              alt="EKL" width="55" height="55">
              <h4>EKL</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/aws.svg"
              alt="AWS" width="55" height="55">
              <h4>AWS</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/gcp.svg"
              alt="GCP" width="55" height="55">
              <h4>GCP</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/BaaS/heroku.svg"
              alt="Heroku" width="55" height="55">
              <h4>Heroku</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/BackendDevelopment/nginx.svg"
              alt="Nginx" width="55" height="55">
              <h4>Nginx</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Devops/docker.svg"
              alt="docker" width="55" height="55">
              <h4>Docker</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://camo.githubusercontent.com/f8ecab133236c7ba3503892b516de2382501a439c1fd1f47b3bb71aa155464eb/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f64653771797a6767382f696d6167652f75706c6f61642f76313638373939323431352f49636f6e732f626173685f7a63376272642e706e67"
              alt="bash" width="55" height="55">
              <h4>Bash</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://camo.githubusercontent.com/0d401114ddff0e2d830839faae2dfa1e674f9c33aa55925a3c2ac92480ecf9f1/68747470733a2f2f6769742d73636d2e636f6d2f696d616765732f6c6f676f732f646f776e6c6f6164732f4769742d49636f6e2d31373838432e737667"
              alt="git" width="55" height="55">
              <h4>Git</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <img src="https://camo.githubusercontent.com/f63b72d9d9f0416c0a3b939b69ab0a13a3fb4e2db4b6cb8a81668a856208107d/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f64653771797a6767382f696d6167652f75706c6f61642f76313638373939323431352f49636f6e732f6769746875625f71386b716c692e706e67"
              alt="GitHub" width="55" height="55">
              <h4>GitHub</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="arrow-container">
    </div>
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Popular Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <div class="container">
              <h3>Sentimantle</h3>
              <p style="text-align: justify;">Flask REST API for a sentiment analysis project having
                complex database and queries. Authentication and authorization using JWT. Multiple features like Data addition via
                File Upload, File Download, Database Views and Stored Procedures.
                <br>
                Like the project name says, Sentimantle, it creates a report of a certain aspect of a location and perform sentiment analysis on it's respective aspects</p>
            </div>
          </td>
          <td>
            <div class="container">
              <h3>EKL</h3>
              <p style="text-align: justify;">Elastic Search implementation (Realtime fast searching)
                in Webapp on large MySQL database using EKL stack. EKL stack is also used by Google
                for searching. 
                Elastic Search uses document type NoSQL database, to perform modern search and analytics engine which is based on Apache Lucene.
                It uses it's own indexing and mappings. After indexing, elasticsearch will create several inverted indices tables, which makes it super fast for searching
                <br>
                Developed logstash data pipeline to ingests data from MySQL, transforms it, and then send it to my ES Index</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{{url_for('projects_page')}}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}